<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <display-name>team-sync</display-name>
    <servlet>
        <servlet-name>TaskServlet</servlet-name>
        <servlet-class>controller.TaskServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TaskServlet</servlet-name>
        <url-pattern>/tasks</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>MemberServlet</servlet-name>
        <servlet-class>controller.MemberServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MemberServlet</servlet-name>
        <url-pattern>/member</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>TeamServlet</servlet-name>
        <servlet-class>controller.TeamServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TeamServlet</servlet-name>
        <url-pattern>/team</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error-404.jsp</location>
    </error-page>

  
  <servlet>
	  <servlet-name>ProjectServlet</servlet-name>
	  <servlet-class>controller.ProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>ProjectServlet</servlet-name>
  		<url-pattern>/project</url-pattern>
  		<url-pattern>/project/</url-pattern>
  </servlet-mapping>

	<servlet-mapping>
		<servlet-name>ProjectServlet</servlet-name>
		<url-pattern>/project/create</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ProjectServlet</servlet-name>
		<url-pattern>/project/edit</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ProjectServlet</servlet-name>
		<url-pattern>/project/search</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ProjectServlet</servlet-name>
		<url-pattern>/project/show</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ProjectServlet</servlet-name>
		<url-pattern>/project/update</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ProjectServlet</servlet-name>
		<url-pattern>/project/store</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ProjectServlet</servlet-name>
		<url-pattern>/project/delete</url-pattern>
	</servlet-mapping>

	
	<filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
</filter>
	<filter-mapping>
	    <filter-name>UrlRewriteFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
